/* Solution 1 : On change le modèle de boîte */
* {
    box-sizing: border-box;
}

/* pas "main" directement mais un classe, comme ça on peut avoir différents rendus pour la balise main */
.main {
    /* Notre classe peut-être mise sur n'importe quelle balise,
    même une qui n'est pas un bloc, on force donc ce comportement */
    display: block;
    width: 760px; /* On définit une largeur fixe à notre block */
    /* Avec les marges automatiques, si la zone d'affichage est plus large que notre bloc, il sera centré verticalement */
    margin: auto;
}

/* Nous permet de définir des "affichages différents" */
/*
.main-left {
    display: block;
    width: 760px;
}
*/

/* Titre 20px en bleu*/
.titre {
    font-size: 20px;
    color: blue;
}

fieldset {
    border: none;
    margin: 0; /* Pas de marges externes */
    padding: 0; /* Pas marges internes */
}

fieldset > legend {
    display: none; /* cache comme si l'élément n'est pas dans le HTML */
    visibility: hidden;/* l'élément est caché mais arde sa place */
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
}

.field-group {
    flex-grow: 1;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
}

.field-group.field-group--full {
    flex-grow: 2;
}

.label {
    display: block;
    margin: 0 0 10px 0; /* Idem margin-bottom: 10px; */
    font-weight: 700; /* Mise en gras */
}

.field {
    width: 100%;
    border-radius: 3px;
    border: 2px dashed blue;
}

.btn {
    border: 3px solid black;
    padding: 5px 10px;
    border-radius: 30px; /* Arrondi sur les boutons */
    cursor: pointer;/* On peut gérer le curseur */
    transition: 200ms ease-in-out;/* Transition entre les changements de valeurs des propriétés */
}

/* On change les styles au survol */
.btn:hover {
    background: black;
    color: white;
}

/* On indique l'élément courant pour la navigation au clavier */
*:focus {
    outline: 5px dotted red;
}
